@import "bootstrap-sprockets";
@import "bootstrap";

.top-text-index_page {

    border-bottom: 1px solid #DDDDDD;
}

.imgWrap {

    background: #f5f5f5;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 3px;
}

.itemInfo {

font-size: 14px;
padding: 8px 4px;

}

.title {

    float: left;
    width: 200px;
}

.project_image {

    width: 100%;
}
